$primary-color: #d64e4e;
$secondary-color: #00ca33;

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background: linear-gradient($primary-color 50%, white 50%);
}

h1 {
  font-size: 4rem;
}

p {
  margin: 0;
  line-height: 2.5rem;
  max-width: 50rem;
  font-size: 2rem;
}

button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
}

.main__area {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  position: relative;
  z-index: 1;
}

.main__logo {
  width: 100%;
  max-width: 70vw;
  min-width: 60vw;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
}

.main__area--date {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  padding: 0.5rem;
  margin-top: 10vh;

  p {
    margin: 0.5rem;
    max-width: 50vw;
    font-size: 3rem;
    font-weight: bold;
    color: $secondary-color;
    background: -webkit-linear-gradient(30deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
  }

  img {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
}


.scroll__down {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 16px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
}

.scroll__down:before {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 7px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.container {
  position: relative;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  overflow: hidden;
  background: white;

  
  transform: skewY(5deg);
  
  > * {
    transform: skewY(-5deg);
  }
}
.primary {
  background: $primary-color;
  color: white;
}

.previous__snics {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  background: $secondary-color;
  color: white;
  font-size: 2.5vw;
  border-radius: 12px;
  margin-top: 1vw;
  margin-right: 1vw;
  border-top-right-radius: 0px;
  -webkit-transition: background 1s, border-radius 1s;
  transition: background 1s, border-radius 1s;
  outline:0;
  cursor: pointer;
}

.previous__snics:hover {
  background: black;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
}

.location {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 !important;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    &hover {
      cursor: pointer;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.location__imagecontainer {
  margin: 1rem;
  width: 100%;
  flex-grow: 1;
  
  img {
    width: 100%; 
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.contact {
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
}

.contact__person {
  padding: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-basis: 25vw;
}

.title {
  padding-top: 5px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: regular;
}

.thumbnail {
  width: 500px;
  height: auto;
  margin: auto; 
  border-radius: 2px;
  -webkit-transition: border-radius 0.5s, box-shadow 0.5s, top 0.3s, left 0.3s;
  transition: border-radius 0.5s, box-shadow 0.5s, top 0.3s, left 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
}

.thumbnail:hover {
  position: relative;
  top:-3px;
  left: -3px;
  border-radius: 12px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3), 0 10px 24px 0 rgba(0, 0, 0, 0.23);
}

.footer {
  background-color: #333333;
  position: relative;
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.5rem;
  color: white;
}

.footer__link {
  margin: 0 5rem;
}

.footer__icon {
  color: $primary-color;
  font-size: 3rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer__icon:hover {
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  position: absolute;
  width: 100%; 
  height: 100%; 
  z-index: -1;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 70rem) {
  p {
    margin: 0 10rem;
  }

  .location {
    flex-direction: row;
  }

  .contact {
    width: 80vw;
  }

  .thumbnail {
    width: 400px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 110rem) {
  p {
    margin: 0 35rem;
  }

  .location {
    flex-direction: row;
  }

  .previous__snics {
    font-size: 1.5vw;
  }
}